%section
  %h1 Transmakerについて
  %p 直感的に使える翻訳ツールです。
  %p 文字の色や大きさ、リンクを維持したまま、選択部分を翻訳結果で書き換えることが出来ます。
  %p 置き換え(Replace), 挿入(Insert), 元に戻す(Undo) といった機能を使い外国のページをインタラクティブに翻訳していくことが出来ます。36種類以上の言語に対応し、設定無しですぐに使えます。
  %p まずはインストールしてみましょう！！



