%section
  %h1 What's a Transmaker?

  %p It's a translation tool. Rewrite the selection in the translation results.

  %ul
    %li Replace
    %li Insert
    %li Undo

  %p You can translate the foreign language pages in real time.

  %p <font color="red">Font color</font>, <font size="30px">size</font>, <a href="http://transmaker.ongaeshi.me/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">links</a> are maintained.
