- @page_title = 'Install'

%section
  %h1 Install
  %dt Transmaker is Firefox add-on. Installed from the following page please.
  %dd <a href="https://addons.mozilla.org/ja/firefox/addon/transmaker/">Transmaker :: Add-ons for Firefox</a>

  %p After the installation is complete, reload the page.

