- @page_title = 'Install'

%section
  %h1 Install
  %p Firefoxプラグインです、インストールはmozillaのページからどうぞ。
  <a href="https://addons.mozilla.org/ja/firefox/addon/transmaker/">Transmaker :: Add-ons for Firefox</a>

