!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Transmaker Demo'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'css/style.css'}

  %body
    %header
      %h1 <a href="."><img src="images/TransmakerIcon128.png" /></a> Transmaker Demo <br> <span class="small">
      %nav
        %ul
          %li <a href="./index.html">Home</a>
          %li <a href="./install.html">Install</a>
          %li <a href="./languages.html">Languages</a>
          %li <a href="./hotkeys.html">Hotkeys</a>

    #contents
      != yield

    %hr

    %footer
      %p
        ! Develop by <a href="./contact.html">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
