!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Transmaker Demo'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'css/style.css'}

  %body
    %header
      %h1 <a href=".">Transmaker Demo - Want more easily to translation</a>
      %nav
        %ul
          %li <a href="./index.html">Home</a>
          %li <a href="./demo.html">Demo</a>
          %li <a href="./demo-app.html">Demo(App)</a>
          %li <a href="./showcase.html">Showcase</a>
          %li <a href="./history.html">History</a>
          %li <a href="./contact.html">Contact</a>

    #contents
      != yield

    %hr

    %footer
      %p
        ! Develop by <a href="./contact.html">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
